.legend
  position absolute
  top 0
  right 0
  padding 15px
  h3
    margin 0
    text-transform uppercase
    span
      height 20px
      width 20px
      display inline-block
      margin-right 10px
      vertical-align middle