dl
  position absolute
  top 0
  right 0
  text-transform uppercase
  font-size $widget-title-font-size
  font-weight bold
  margin 15px
  color $widget-title-color

dt, dd
  float left

dt
  clear left
  width 100px
  text-align right

dd
  margin 0 0 0 10px