.container {
    height: 100%;
}
ul {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    height: 100%;
}
li {
    display: inline-block;
    margin-right: 15px;
    padding: 16px;
    width: 49.6%;
    list-style-type: none;
    border: 1px solid #586e75;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}
li h3 {
    font-size: 17px;
}
li p {
    font-size: 14px;
}
li h3, li p {
    margin: 0;
    display: inline;
}
li p {
    padding-left: 10px;
    font-weight: normal;
}